<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">伙伴名字</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="伙伴名字" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">伙伴手机</label>
            <div class="layui-input-inline">
                <input name="phone" value="{$Think.get.phone|default=''}" placeholder="伙伴手机" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">伙伴编号</label>
            <div class="layui-input-inline">
                <input name="id" value="{$Think.get.id|default=''}" placeholder="伙伴编号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">会员级别</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="vip_level">
                    <option selected value="">全部</option>
                    {foreach $userlaver as $k=>$v}
                    {eq name='Think.get.vip_level' value='$v.id'}
                    <option selected value="{$v.id}">{$v.name}</option>
                    {else}
                    <option value="{$v.id}">{$v.name}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-inline">
                <input name="create_at" value="{$Think.get.create_at|default=''}" placeholder="请选择发送时间" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <a href='{:url("excel/memberlist")}' class="layui-btn layui-btn-primary layui-select-disabled"><i class="layui-icon layui-icon-export"></i> 导 出</a>
        </div>
    </form>
    <script>
        form.render();
        laydate.render({range: true, elem: '[name="create_at"]'})
    </script>
</fieldset>