<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label">SN编号</label>
            <label class="layui-col-xs8">
                <input name="machine_no" value='{$info.machine_no|default=""}' readonly placeholder="用户手机" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">商户实名</label>
            <label class="layui-col-xs8">
                <input name="shanghu_name" required value='{$info.shanghu_name|default=""}' placeholder="商户实名" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">商户手机号</label>
            <label class="layui-col-xs8">
                <input name="shanghu_phone" required value='{$info.shanghu_phone|default=""}' placeholder="商户手机号" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">银行卡号</label>
            <label class="layui-col-xs8">
                <input name="bank_no" required value='{$info.bank_no|default=""}' placeholder="银行卡号" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">所属银行</label>
            <label class="layui-col-xs8">
                <input name="bank_name" required value='{$info.bank_name|default=""}' placeholder="所属银行" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">所属支行</label>
            <label class="layui-col-xs8">
                <input name="bank_zhi" required value='{$info.bank_zhi|default=""}' placeholder="所属支行" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs3 think-form-label color-green">激活时间</label>
            <label class="layui-col-xs8">
                <input name="jihuo_time" required value='{$info.jihuo_time|default=""}' id="test122" placeholder="激活时间" class="layui-input">
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>
    form.render();
    laydate.render({
        elem: '#test122'
        ,type: 'datetime'
        ,format: 'yyyy-MM-dd HH:mm:ss'
      });
</script>
