{extend name='admin@main'}

{block name="button"}
{if auth("wang/shanghu/add")}
<!--<button data-modal='{:url("shanghuadd")}' data-title="添加商户" class='layui-btn layui-btn-sm layui-btn-primary'>添加商户</button>-->
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    <fieldset>
        <!-- <form class="layui-form layui-form-pane form-search"  method="post" action="{:url('shanghu/daoru')}" enctype="multipart/form-data">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">导入Excel表：</label>
                <div class="layui-input-inline">
                    <input  type="file" name="namefile" /><input class="layui-input" type="submit"  value="导入" />
                </div>
            </div>
        </form>
        <form class="layui-form layui-form-pane form-search"  method="post" action="{:url('shanghu/daoru111')}" enctype="multipart/form-data">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">导入Excel表：</label>
                <div class="layui-input-inline">
                    <input  type="file" name="namefile" /><input class="layui-input" type="submit"  value="导入" />
                </div>
            </div>
        </form> -->
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">SN码</label>
                <div class="layui-input-inline">
                    <input name="machine_no" value="{$Think.get.machine_no|default=''}" placeholder="请输入商户编号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">伙伴编号</label>
                <div class="layui-input-inline">
                    <input name="userid" value="{$Think.get.userid|default=''}" placeholder="伙伴编号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">伙伴手机号</label>
                <div class="layui-input-inline">
                    <input name="userphone" value="{$Think.get.userphone|default=''}" placeholder="伙伴手机号" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">是否达标</label>
                <div class="layui-input-inline">
                    <select class="layui-select" name="dabiao">
                        {foreach [''=>'- 全部状态 -','1'=>'已达标','2'=>'未达标'] as $k=>$v}
                        {eq name='Think.get.dabiao' value='$k.""'}
                        <option selected value="{$k}">{$v}</option>
                        {else}
                        <option value="{$k}">{$v}</option>
                        {/eq}
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                <a href='{:url("excel/jijulist")}?machine_no={$Think.get.machine_no|default=""}&userid={$Think.get.userid|default=""}&userphone={$Think.get.userphone|default=""}&dabiao={$Think.get.dabiao|default=""}' class="layui-btn layui-btn-primary layui-select-disabled"><i class="layui-icon layui-icon-export"></i> 导 出</a>
               	{if auth("wang/shanghu/shanghulist")}
				<button data-modal='{:url("in_activation")}' data-title="录入激活" class='layui-btn layui-btn-sm layui-btn-normal'>①录入激活</button>
				{/if}
				<!-- {if auth("wang/machine/shanghulist")}
				<button data-modal='{:url("in_merchant")}' data-rule="录入商户" class='layui-btn layui-btn-sm layui-btn-normal'>②录入商户</button>
				{/if} -->
				{if auth("wang/machine/shanghulist")}
				<button data-modal='{:url("in_order")}' data-rule="录入订单" class='layui-btn layui-btn-sm layui-btn-normal'>③录入订单</button>
				{/if}
            </div>
        </form>
        <script>form.render()</script>
    </fieldset>
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>机具SN号</th>
            <th class='text-left nowrap'>商户名称</th>
            <th class='text-left nowrap'>商户手机号</th>
            <th class='text-left nowrap'>商户银行卡</th>
            <th class='text-left nowrap'>商户开户行</th>
            <th class='text-left nowrap'>伙伴姓名</th>
            <th class='text-left nowrap'>伙伴编号</th>
            <th class='text-left nowrap'>伙伴手机号</th>
            <th class='text-left nowrap'>是否达标</th>
            <th class='text-left nowrap'>激活时间</th>
           
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.machine_no|default=''}
            </td>
            <td class='text-left nowrap'>
                {$vo.shanghu_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.shanghu_phone}
            </td>
            <td class='text-left nowrap'>
                {$vo.bank_no}
            </td>
            <td class='text-left nowrap'>
                {$vo.bank_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.username}
            </td>
            <td class='text-left nowrap'>
                {$vo.pinvite_code}
            </td>
            <td class='text-left nowrap'>
                {$vo.phone}
            </td>
            <td class='text-center nowrap'>
            {if in_array($vo.is_yajin,array(1,3,4,5))}<span class="layui-badge layui-bg-green">达标</span>{else}<span class="layui-badge">不达标</span>{/if}<br>
            </td>
<!--             <td class='text-center nowrap'>
                {egt name='vo.num_money' value='5000'}<span class="layui-badge layui-bg-green">达标</span>{else}<span class="layui-badge">不达标</span>{/egt}<br>
            </td> -->
            <td class='text-left nowrap'>{$vo.jihuo_time|format_datetime}</td>
         
            <td class='text-left nowrap'>
                <!--<a data-title="商户转移" class="layui-btn layui-btn-sm" data-modal='{:url("shanghulistedit")}?id={$vo.id}'>转 移</a>-->
                <a data-title="修改信息" class="layui-btn layui-btn-sm" data-modal='{:url("shanghueditinfo")}?id={$vo.id}'>修改信息</a>
                <a data-title="商户转移" class="layui-btn layui-bg-red" data-modal='{:url("shanghulistedit")}?id={$vo.id}'>转 移</a>
                <!-- <a data-title="交易金额全部转移" class="layui-btn layui-bg-red" data-modal='{:url("shanghuzhuanyi")}?id={$vo.id}'>交易全转移</a> -->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
