<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">伙伴手机</label>
            <div class="layui-input-inline">
                <input name="phone" value="{$Think.get.phone|default=''}" placeholder="伙伴手机" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">金额类型</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    {foreach [''=>'- 全部状态 -','integral'=>'积分','money'=>'补贴收益','tongji_money'=>'分润收益'] as $k=>$v}
                    <!--{eq name='Think.get.status' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">交易类型</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    {foreach [''=>'- 全部状态 -','4'=>'激活','5'=>'销售津贴','6'=>'展业津贴','7'=>'分润津贴','8'=>'管理津贴'] as $k=>$v}
                    <!--{eq name='Think.get.status' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input name="create_at" value="{$Think.get.create_at|default=''}" placeholder="请选择时间" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button type="button" data-export-list class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-export"></i> 导 出</button>
        </div>
    </form>
    <script>
        form.render();
        laydate.render({range: true, elem: '[name="create_at"]'})
    </script>
</fieldset>