<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">版本</label>
            <label class="layui-col-xs10">
                <select class="layui-select" name="ver">
                        <option selected value="">请选择版本</option>
                        <option value="1">1.0</option>
                        <option value="2">2.0</option>
                    </select>
            </label>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">机具类型</label>
            <label class="layui-col-xs10">
                <input name="class" value='' placeholder="请输入机具类型" class="layui-input">
            </label>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">SN码前编码数字</label>
            <label class="layui-col-xs10">
                <input name="snguding" value='' placeholder="请输入SN码前编码数字" class="layui-input">
            </label>
        </div>
    </div>

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">SN码起始</label>
            <label class="layui-col-xs10">
                <input type="number" name="snstatus" value='' placeholder="请输入SN码起始" class="layui-input">
            </label>
        </div>
    </div>

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">SN码结束</label>
            <label class="layui-col-xs10">
                <input type="number" name="snend" value='' placeholder="请输入SN码结束" class="layui-input">
            </label>
        </div>
    </div>
    
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>form.render()</script>
</form>
